@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

@tailwind base;
@tailwind components;
@tailwind utilities;

.here {
  background-color: white;
  color: black;
  border-radius: 1px solid black;
  top: 90px;
  left: 00px;
  border: 0px;
  padding: 0px, 0px, 0px, 0px;
  gap: 10px;
}

.hare {
  background-color: black;
  color: white;
  top: 90px;
  left: 0px;
  border: 2px;
  padding: 0px, 0px, 0px, 0px;
  gap: 10px;
}

.desc {
  color: white;
  top: 518px;
  left: 80px;
}
.title {
  font-family: "Roboto", sans-serif;
  top: 221px;
  left: 80px;
}

.img {
  width: 497px;
  height: 540px;
  left: 890px;
  position: absolute;
}
