@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.here {
  background-color: white;
  color: black;
  border-radius: 1px solid black;
  width: 150px;
  height: 34px;
}

.hare {
  background-color: black;
  color: white;
  width: 198px;
  height: 34px;
}

.desc {
}
